   
@import url('css/variables.css');


@import url('css/base.css');


@import url('css/navigation.css');
@import url('css/hero.css');
@import url('css/footer.css');


@import url('css/buttons.css');
@import url('css/cards.css');
@import url('css/tours.css');
@import url('css/forms.css');
@import url('css/modal.css');


@import url('css/login.css');
@import url('css/contact.css');
@import url('css/about.css');


@import url('css/animations.css');


@import url('css/responsive.css');


